{% extends "home/base.html" %}

{% block form %}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.3/jquery.min.js"></script>
  <script src="https://cdn.plaid.com/link/v2/stable/link-initialize.js"></script>
  <div class="app">
    <div class="left">
      <form class="col form-inputs" id="check-handle-inputs" action="{% url 'check_handle' %}" method="POST">
        {% csrf_token %}
        <div class="check-handle" id="check-handle">
          <div class="input-group col-md-12">
            <div class="mb-3 input-group">
              <input type="text" class="form-control" name="handle" placeholder="User Handle" aria-label="User Handle"
                     aria-describedby="basic-addon2">
              <div class="input-group-append">
                <span class="input-group-text" id="basic-addon2">.silamoney.eth</span>
              </div>
            </div>
            <button type="submit" class="btn btn-block btn-primary">Check Handle</button>
          </div>
          <hr id="line1">
          {# whyyyyy #}
        </div>
      </form>


      <form class="col form-inputs" id="register-inputs" action="{% url 'register' %}" method="POST">
        {% csrf_token %}
        <div class="col register" id="register">
          <div class="name" id="name">
            <div class="form-row">
              <div class="form-group col-md-6">
                <input type="text" class="form-control" id="first-name" name="register" placeholder="First Name">
              </div>
              <div class="form-group col-md-6">
                <input type="text" class="form-control" id="last-name" name="register" placeholder="Last Name">
              </div>
            </div>
          </div>

          <div class="handle" id="handle">
            <div class="form-row">
              <div class="input-group col-md-12">
                <div class="mb-3 input-group">
                  <input type="text" class="form-control" name="register" placeholder="User Handle"
                         aria-label="User Handle" aria-describedby="basic-addon2">
                  <div class="input-group-append">
                    <span class="input-group-text" id="basic-addon2">.silamoney.eth</span>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="address" id="address">
            <div class="form-row">
              <div class="form-group col-md-12">
                <input type="text" class="form-control" id="input-address" name="register" placeholder="1234 Main St">
              </div>
            </div>
          </div>

          <div class="city-state-zip" id="city-state-zip">
            <div class="form-row">
              <div class="form-group col-md-4">
                <input type="text" class="form-control" id="input-city" name="register" placeholder="City">
              </div>

              <div class="form-group col-md-4">
                <input type="text" class="form-control" id="input-state" name="register" placeholder="State">
              </div>

              <div class="form-group col-md-4">
                <input type="text" class="form-control" id="input-zip" name="register" placeholder="Zip Code">
              </div>
            </div>
          </div>

          <div class="ssn-dob" id="ssn-dob">
            <div class="form-row">
              <div class="form-group col-md-6">
                <input type="text" class="form-control" id="input-ssn" name="register" placeholder="SSN">
              </div>

              <div class="form-group col-md-6">
                <input type="text" class="form-control" id="input-dob" name="register" placeholder="yyyy-mm-dd">
              </div>
            </div>

            <div class="email-phone" id="email-phone">
              <div class="form-row">
                <div class="form-group col-md-6">
                  <input type="email" class="form-control" id="input-email" name="register" placeholder="Email">
                </div>

                <div class="form-group col-md-6">
                  <input type="text" class="form-control" id="input-phone" name="register" placeholder="Phone">
                </div>
              </div>
            </div>

            <button type="submit" class="btn btn-block btn-primary">Register</button>
          </div>
          <hr id="line1">
          <div>
            <form action="{% url 'get_accounts' %}" class="get-accounts" method="POST">
              {% csrf_token %}
              <button type="submit" class="btn btn-sm text-success float-right" name="get-accounts">Refresh Accounts
              </button>
            </form>
            <form class="link-account">
              <input type="text" class="user-handle-input hidden-element" name="hidden-user-handle">
              <button type="button" class="btn btn-block btn-primary" id="link-account">Link Account</button>
            </form>
            <div class="table-responsive">
              <table class="table table-sm table-striped table-bordered table-hover">
                <thead>
                <tr>
                  <th>Acct #</th>
                  <th>Name</th>
                  <th>Type</th>
                  <th>Status</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                  {% if response %}
                    <td> {{ response.account_number }}</td>
                    <td> {{ response.account_name }}</td>
                    <td> {{ response.account_type }}</td>
                    <td> {{ response.account_status }}</td>
                  {% else %}
                    <td colspan="4">Refresh accounts to view</td>
                  {% endif %}
                </tr>
                </tbody>
              </table>
            </div>
          </div>
          <form action="{% url 'get_accounts' %}" class="get-accounts" method="POST">
            {% csrf_token %}
            <button type="submit" class="btn btn-block btn-primary" name="get-accounts">Get Accounts</button>
          </form>
      </form>
    </div>
  </div>

  <div class="meta-data">
    <form class="col form-inputs" id="drop-down">
      <div class="select-users" id="select-users">
        <div class="form-row">
          <div class="form-group col-md-12">
            <label for="exampleForm.ControlSelect1" class="form-label">Select User</label>
            {# TODO: hook up later #}
            <button class="btn btn-sm text-danger float-right">Reset App</button>
            <select id="drop-down-selector" class="form-control">
              <option>Select a user ...</option>
              {% for user in users %}
                <option value="{{ user }}">{{ user }}</option>
              {% endfor %}
            </select>
          </div>
        </div>
      </div>
    </form>

    <div class="addresses">
      {% if etheraddress %}
        <address>
          <strong>{{ full_name }}</strong>
          <p>{{ street }}<br>
            {{ city }} {{ state }} {{ zip }}</p>
          <p>{{ etheraddress }}</p>
          <p class="text-muted"> Private key has been set locally</p>
        </address>
      {% endif %}
    </div>

    <div class="kyc-status">
      <span class="kyc">
      <form action="{% url 'get_transactions' %}" class="request" method="POST">
        {% csrf_token %}
        <button type="submit" class="btn btn-sm btn-secondary float-right"
                name="get-transactions">Get account balance</button>
        <br><br>
         </form>
         <form action="{% url 'request_kyc' %}" class="request" method="POST">
           {% csrf_token %}
           <button type="submit" class="btn btn-sm btn-secondary float-right" name="request-kyc">Request KYC</button>
         </form>
         <form action="{% url 'check_kyc' %}" class="check" method="POST">
           {% csrf_token %}
           <button type="submit" class="btn btn-sm btn-secondary float-right" name="check-kyc">Check KYC Status</button>
         </form>
        <strong>KYC Status:</strong>
       </span>
      <hr id="line1">
    </div>

    <div class="response-messages">
      <h2>Response:</h2>
      <pre class="message">{{ message }}</pre>
    </div>

    <div class="sila">
      {# TODO: pass in the current user in the drop down below user=user or some such  #}
      <form class="col form-inputs" id="issue-sila-inputs" action="{% url 'issue_sila' %}" method="POST">
        {% csrf_token %}
        <div class="issue-sila" id="issue-sila">
          <div class="form-row">
            <div class="form-group col-md-12">
              <h6>Issue Sila:</h6>
              <input type="number" class="form-control" id="input-amount" name="issue-amount" placeholder="Amount">
              <small id="amountHelp" class="form-text text-muted">1 Sila = $0.01</small>
              <input type="text" class="user-handle-input hidden-element" name="hidden-user-handle">
              <button type="submit" class="btn btn-block btn-primary">Issue Sila</button>
            </div>
          </div>
        </div>
        <hr id="line1">
      </form>

      <form class="col form-inputs" id="transfer-sila-inputs" action="{% url 'transfer_sila' %}" method="POST">
        {% csrf_token %}
        <div class="transfer-sila" id="transfer-sila">
          <h6>Transfer Sila:</h6>
          <div class="form-row">
            <div class="form-group col-md-6">
              <input type="number" class="form-control" id="transfer-amount" name="transfer" placeholder="Amount">
              <small id="amountHelp" class="form-text text-muted">1 Sila = $0.01</small>
            </div>
            <div class="form-group col-md-6">
              <div class="mb-3 input-group">
                <input type="text" class="form-control" name="transfer" placeholder="User Handle"
                       aria-label="User Handle"
                       aria-describedby="basic-addon2">
                <div class="input-group-append">
                  <span class="input-group-text" id="basic-addon2">.silamoney.eth</span>
                </div>
              </div>
            </div>

          </div>
          <button type="submit" class="btn btn-block btn-primary">Transfer Sila</button>
        </div>
        <hr id="line1">
      </form>

      <form class="col form-inputs" id="redeem-sila-inputs" action="{% url 'redeem_sila' %}" method="POST">
        {% csrf_token %}
        <div class="redeem-sila" id="redeem-sila">
          <div class="form-row">
            <div class="form-group col-md-12">
              <h6>Redeem Sila:</h6>
              <input type="number" class="form-control" id="redeem-amount" name="redeem-amount" placeholder="Amount">
              <small id="amountHelp" class="form-text text-muted">1 Sila = $0.01</small>
              <button type="submit" class="btn btn-block btn-primary">Redeem Sila</button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
  </div>

  <script>

      $(document).ready(function () {
          $('#drop-down-selector').change(function () {
              var user_handle = $('#drop-down-selector option:selected').val();
              $('.user-handle-input').val(user_handle);
              console.log(user_handle);
          });

          console.log('page is loaded ...');
          var handler = Plaid.create({
              clientName: 'Plaid Quickstart',
              env: 'sandbox',
              key: 'fa9dd19eb40982275785b09760ab79',
              product: ['auth'],
              // Optional – use webhooks to get transaction and error updates
              webhook: 'https://requestb.in',
              onLoad: function () {
                  // Optional, called when Link loads
              },
              onSuccess: function (public_token, metadata) {
                  // Send the public_token to your app server.
                  // The metadata object contains info about the institution the
                  // user selected and the account ID or IDs, if the
                  // Select Account view is enabled.
                  console.log({
                      "public_token": public_token,
                  });
                  // $.post('/linkAccount', {
                  //   "public_token": public_token,
                  //   "user_handle": $('#handle').val(),
                  //   "private_key": $('#key').val(),
                  // });
                  $.ajax({
                      type: 'POST',
                      url: '{% url "link_account" %}',
                      data: JSON.stringify({
                          csrfmiddlewaretoken: '{{ csrf_token }}',
                          public_token: public_token,
                      }),
                      dataType: 'json',
                      contentType: 'application/json;charset=utf-8',
                      success: function (res) {
                          console.log('success');
                      },
                      failure: function (err) {
                          console.log('error');
                      },
                  });
              },
              onExit: function (err, metadata) {
                  // The user exited the Link flow.
                  if (err != null) {
                      // The user encountered a Plaid API error prior to exiting.
                  }
                  // metadata contains information about the institution
                  // that the user selected and the most recent API request IDs.
                  // Storing this information can be helpful for support.
              },
              onEvent: function (eventName, metadata) {
                  // Optionally capture Link flow events, streamed through
                  // this callback as your users connect an Item to Plaid.
                  // For example:
                  // eventName = "TRANSITION_VIEW"
                  // metadata  = {
                  //   link_session_id: "123-abc",
                  //   mfa_type:        "questions",
                  //   timestamp:       "2017-09-14T14:42:19.350Z",
                  //   view_name:       "MFA",
                  // }
              }
          });
          $('#link-account').on('click', function (e) {
              handler.open();
          });
      });
  </script>
{% endblock %}