{% extends "home/base.html" %}

{% block form %}
<form class="col form-inputs" id="form-inputs">
  <div class="check-handle" id="check-handle">
    <div class="input-group col-md-12">
      <input type="text" class="form-control" placeholder="User Handle" aria-label="User Handle" aria-describedby="basic-addon2">
      <div class="input-group-append">
        <span class="input-group-text" id="basic-addon2">.silamoney.eth</span>
      </div>
    </div>

    <button type="submit" class="btn btn-primary">Check Handle</button>
  </div>

  <div class="col register" id="register">
    <div class="name" id="name">
      <div class="form-row">
        <div class="form-group col-md-6">
          <input type="text" class="form-control" id="first-name" placeholder="First Name">
        </div>

        <div class="form-group col-md-6">
          <input type="text" class="form-control" id="last-name" placeholder="Last Name">
        </div>
      </div>
    </div>

    <div class="handle" id="handle">
      <div class="input-group col-md-12">
        <input type="text" class="form-control" placeholder="User Handle" aria-label="User Handle" aria-describedby="basic-addon2">
        <div class="input-group-append">
          <span class="input-group-text" id="basic-addon2">.silamoney.eth</span>
        </div>
      </div>
    </div>

    <div class="address" id="address">
      <div class="form-group col-md-12">
        <input type="text" class="form-control" id="input-address" placeholder="1234 Main St">
      </div>
    </div>

    <div class="city-state-zip" id="city-state-zip">
      <div class="form-row">
        <div class="form-group col-md-4">
          <input type="text" class="form-control" id="input-city" placeholder="City">
        </div>
      </div>


      <div class="form-row">
        <div class="form-group col-md-4">
          <input type="text" class="form-control" id="input-state" placeholder="State">
        </div>
      </div>

      <div class="form-row">
        <div class="form-group col-md-4">
          <input type="text" class="form-control" id="input-zip" placeholder="Zip Code">
        </div>
      </div>
    </div>

    <div class="ssn-dob" id="ssn-dob">
      <div class="form-row">
        <div class="form-group col-md-6">
          <input type="text" class="form-control" id="input-ssn" placeholder="SSN">
        </div>
      </div>

      <div class="form-row">
        <div class="form-group col-md-6">
          <input type="text" class="form-control" id="input-dob" placeholder="mm/dd/yyy">
        </div>
      </div>
    </div>

    <div class="email-phone" id="email-phone">
      <div class="form-row">
        <div class="form-group col-md-4">
          <input type="email" class="form-control" id="input-email" placeholder="Email">
        </div>
      </div>

      <div class="form-row">
        <div class="form-group col-md-4">
          <input type="text" class="form-control" id="input-phone" placeholder="Phone">
        </div>
      </div>
    </div>

    <button type="submit" class="btn btn-primary">Submit Registration</button>
  </div>
</form>
{% endblock %}